* {
  font-family: 'Google Sans', 'Open Sans', 'Sans';
  box-sizing: border-box;
  color: white;
}
::selection {
  background: #c0c0c0;
  color: black;
  text-shadow: 0 0 1em 0 #c0c0c0;
}
body {
  overflow: hidden;
  background-color: black;
  z-index: -3;
  max-height: 100vh;
  height: 100vh;
  padding: 0;
  margin: 0;
  cursor: none;
}
.social {
  position: fixed;
  right: 0;
  top: 0;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  z-index: 3;
  transition: all 500ms ease-out;
}
.social a {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.8em 1em;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  border: 0.1em dotted #c0c0c0;
}
.social p {
  display: none;
}
#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: linear-gradient(0deg, #6a6a6a -200%, #080808);
  /* background: #08080860; */
}
input,
label {
  font-family: 'Google Sans', 'Open Sans', 'Sans';
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 15px;
  /* text-shadow: 0 0 4px currentColor; */
}
.button:hover {
  box-shadow: 0 0 30px #ffffff60;
}
.home {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  height: 40px;
  border-bottom: 0.1em double currentColor;
  font-size: 40px;
  padding: 25px 50px;
}
.work {
  top: 50%;
  right: 0;
  position: fixed;
  writing-mode: vertical-lr;
  width: 40px;
  transform: translate(0, -50%);
  border-left: 0.2em double currentColor;
  padding: 50px 5px;
}
.contact {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  height: 40px;
  border-top: 0.2em double currentColor;
  padding: 5px 50px;
}
.about {
  top: 50%;

  left: 0;
  position: fixed;
  writing-mode: vertical-lr;
  transform: translate(0, -50%) rotate(180deg);
  width: 40px;
  border-left: 0.2em double currentColor;
  padding: 50px 5px;
}
.content {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* width: 100vw; */
  /* padding: 40px; */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 500ms linear;
  background: transparent;
  padding: 0;
  margin: 0;
  /* background-image: linear-gradient(#6a6a6a -50%, #080808 111%) !important; */
}
.contentoff {
  transform: scale(0);
  width: 0;
}
.hometext {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hometitle {
  font-size: 4rem;
  text-transform: uppercase;
  display: inline;
}
.hometitle {
  position: relative;
  font-weight: 700;
  color: #fff;
  /* font-family: 'Montserrat', Arial, sans-serif; */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #1da9cc;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.56 linear infinite forwards;
}

.hometitle span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.hometitle::before,
.hometitle::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.hometitle::before {
  animation: crack1 2.6s linear infinite forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.hometitle::after {
  animation: crack2 2.6s linear infinite forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%,
  10% {
    transform: translate(-50%, -50%);
  }

  80%,
  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%,
  10% {
    transform: translate(-50%, -50%);
  }

  80%,
  100% {
    transform: translate(-49%, -53%);
  }
}
.homesubtitle {
  box-shadow: 0 1em 20px -15px rgba(0, 0, 0, 0.6);
}
.buttonoff {
  display: none;
  height: 0;
}

.aboutwindow.contentoff {
  transform: translate(-100%, 0);
}
.homewindow.contentoff {
  transform: translate(0, -100%);
}
.contactwindow.contentoff {
  transform: translate(0, 100%);
}
.workwindow.contentoff {
  transform: translate(100%, 0);
}
.contentoff {
  visibility: hidden;
}

.workleft {
  top: 50%;
  left: 60px;
  position: absolute;
  width: 0;
  border: 1em solid white;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.workright {
  top: 50%;
  right: 30px;
  position: absolute;
  width: 0;
  border: 1em solid white;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.workcontainer {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 8fr;
}
.carouselcontainer {
  width: 60vw;
  overflow: hidden;
}
.slidecontainer {
  display: grid;
  grid-template-columns: repeat(8, 60vw);
  width: 100%;
  height: 100%;
}
article {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project {
  width: 50%;
  text-align: right;
  height: 70%;
  display: flex;
  justify-content: flex-end;
  padding: 4em 0 4em 2em;
  flex-direction: column;
  background-size: cover;
  background-position-x: 50%;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px #c0c0c0;
  border-radius: 8px;
}
.projecttitle,
.projectdesc {
  padding: 0.5em 1em;
  margin: 0;
  background: #33333360;
}

.contactimage {
  width: 40%;
  height: 100%;
}
.aboutimage {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutimagecontainer {
  width: 80%;
  background-image: url('./images/udit.jpg');
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px #c0c0c0;
}
.aboutcontent {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}
#typewriter {
  font-size: 1.5em;
  margin: 0;
  height: 170px;
  font-family: 'Google Sans', 'Open Sans';
}
.aboutbuttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  height: 30px;
  justify-self: end;
}
.certificate,
.skill,
.resume {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  text-align: center;
  display: grid;
  place-items: center;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.certificate:hover,
.skill:hover,
.resume:hover {
  box-shadow: 0 10px 30px 0px #d2ccc480;
  background-color: gray;
}
.certificate:hover .certificatecontainer,
.skill:hover .certificatecontainer {
  max-height: 500px;
  width: 300px;
  padding: 10px;
  border-radius: 12px;
  background: #222;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.certificatecontainer {
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;
  margin-left: 3px;
  max-height: 16px;
  width: 0;
  color: #eee;
  background: #444;
  border-radius: 50%;
  transform: translateZ(0);
  transform: translate(-25%, -100%);
  transition: all 0.3s ease-in-out;
}

.certificatetitle {
  font-size: 24px;
  margin: 0 0 2px;
  line-height: 20px;
  font-weight: 700;
}

.certificatecontent {
  max-height: 160px;
  width: 280px;
}

.certificatetext {
  font-size: 18px;
  margin: 0;
  padding-left: 25px;
}

.certificatetext li {
  margin-top: 10px;
}
.project-image1 {
  background-image: url('./images/hovergames.png');
}
.project-image2 {
  background-image: url('./images/qiz.png');
}
.project-image3 {
  background-image: url('./images/gcdcnewsletter.png');
}
.project-image4 {
  background-image: url('./images/minesweeper.png');
}
.project-image5 {
  background-image: url('./images/p (5).png');
}
.project-image6 {
  background-image: url('./images/p (6).png');
}
.contactwindow.contenton ~ .social {
  flex-direction: column;
  height: 20vw;
  width: 10vh;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%) scale(1.4);
}
.contactwindow.contenton ~ .social p {
  display: block;
  position: absolute;
  left: -70%;
  top: 50%;

  transform: translateY(-100%) rotate(270deg);
}
@media screen and (max-width: 1100px) {
  .social {
    width: 30vw;
  }
  .project {
    width: 70%;
  }
  .contactimage {
    width: 30%;
  }
  .wrap-contact100 {
    width: 100%;
  }
  .aboutwindow {
    flex-direction: column;
  }
  .aboutimage {
    margin-top: 40px;
  }
  .aboutcontent {
    justify-content: start;
  }
  .aboutimagecontainer {
    height: 80%;
    width: 60%;
  }
  .workcontainer {
    margin-top: 12vh;
  }
}
@media screen and (max-width: 800px) {
  .social {
    transform: translateX(10%) scale(0.8);
    width: 40vw;
  }
  .contactwindow.contenton ~ .social {
    transform: scale(1);
    left: 12.5%;
    height: 40vw;
    top: 25%;
  }
  .project {
    width: 80%;
  }
  .wrap-contact100 {
    transform: scale(0.9);
  }

  .aboutimagecontainer {
    height: 70%;
    width: 70%;
  }
}
@media screen and (max-width: 450px) {
  .social {
    left: 0;
    top: 60px;
    right: 0;
    width: 85vw;
    justify-content: space-evenly;
  }
  .button {
    top: 0;
    transform: none;
    writing-mode: initial;
    height: 60px !important;
    box-sizing: border-box;
    width: 30vw;
    padding: 0;
    text-decoration: underline;
    border: none;
  }
  .buttonoff {
    top: 0;
    transform: none;
    writing-mode: initial;
    height: 60px !important;
    box-sizing: border-box;
    text-shadow: 0 0 1em 0 #c0c0c0;
    color: white;
    width: 30vw;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    border: none;
    display: flex;
  }
  .contact {
    left: 25%;
  }
  .home {
    font-size: 1em;
    left: 0;
  }
  .about {
    left: 50%;
  }
  .contactwindow.contenton ~ .social {
    left: 0;
    top: 60px;
    right: 0;
    width: 85vw;
    height: 10vh;
    justify-content: space-evenly;
    transform: translateX(10%) scale(0.8);
    flex-direction: row;
  }
  .contactimage {
    width: 0;
  }
  .wrap-contact100 {
    margin-top: calc(70px + 10vh);
    transform: scale(0.8);
  }
  .aboutcontent {
    width: 100%;
  }
  #typewriter {
    justify-self: center;
    font-size: 1em;
    height: 120px;
  }
  .aboutimage {
    width: 70%;
    margin-top: calc(40px + 10vh);
  }
  .slidecontainer {
    grid-template-columns: repeat(8, 80vw);
  }
  .carouselcontainer {
    width: 80vw;
    height: 65%;
  }
  .project {
    height: 40vh;
  }
  .workcontainer {
    margin-top: 25vh;
  }
  .workleft {
    left: 10px;
  }
  .workright {
    right: -15px;
  }
}
